@model EduZone.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}
@Html.AntiForgeryToken()
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form action="@Url.Action("Register", "Home")" method="post" class="reg-form" style="max-width: 400px;">
                <p id="title" class="text-center">Join EduZone</p>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success" style="color: #748544;" role="alert">@ViewBag.Message</div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-message" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validation-message" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, "Password", new { @class = "control-label" })
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation-message" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RePassword, "Confirm Password", new { @class = "control-label" })
                    @Html.PasswordFor(model => model.RePassword, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "validation-message" })
                </div>

                <div class="form-group" style="margin-top:10px;">
                    <button type="submit" class="btn btn-warning btn-block" style=" border: 1px solid #3b3b3b;">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Register
                    </button>
                </div>
                <div class="form-group" style="margin-top:10px;">
                    <p class="text-left lbl-fnt">Already have an account? <a href="@Url.Action("Index", "Home")">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
